/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

******************************************************************/
/*********************
FONT FACE 
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
font-family: 'Font Name';
	src:url('library/fonts/font-name.eot');
	src:url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('library/fonts/font-name.woff') format('woff'),
		url('library/fonts/font-name.ttf') format('truetype'),
		url('library/fonts/font-name.svg#font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  /*  -ms-word-wrap: break-word;
    word-break: break-word; //non-standart css for webkit
    word-wrap: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
  		   */
  /*  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga=1, dlig=1";
        -ms-font-feature-settings: "liga", "dlig";
         -o-font-feature-settings: "liga", "dlig";
            font-feature-settings: "liga", "dlig";*/
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
OTHERS
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 16px;
  float: left;
}
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 16px;
  float: right;
}
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/******************************************
SPECIFIC PAGE STYLES
******************************************/
body.home .sizzle-vid-container .sizzle-logo {
  padding-top: 60%;
}

body.blog .content-primary .post .image-container img {
  max-width: 50%;
  float: left;
  margin-right: 16px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Portrait

******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
#container #content {
  padding-top: 80px;
}

.wrap {
  margin: 0 24px;
}

/*********************
HEADER STYLES
*********************/
#logo a {
  width: 153.6px;
  height: 64px;
}

/*********************
NAVIGATION STYLES
*********************/
.main-menu li a {
  height: 64px;
  line-height: 64px;
}

.trigger-nav {
  height: 64px;
  width: 64px;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em;
}

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

.widget {
  padding: 0 8px;
  margin: 32px 0;
}
.widget ul li {
  margin-bottom: 16px;
}
.widget ul li ul {
  margin-top: 12px;
  padding-left: 16px;
}

body.single-post .content-primary:after {
  content: "";
  display: table;
  clear: both;
}
body.single-post .content-primary img.size-medium {
  max-width: 50%;
}
body.single-post .content-primary img.size-medium.align-left {
  float: left;
  margin-right: 16px;
}
body.single-post .content-primary img.size-medium.align-right {
  float: right;
  margin-left: 16px;
}

/******************************************
SPECIFIC PAGE STYLES
******************************************/
body.home .sizzle-vid-container .sizzle-logo {
  padding-top: 50%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Small Desktop Stylsheet

******************************************************************/
html.theme-dark .main-nav-container {
  background: transparent;
}
html.theme-dark .main-menu {
  background: transparent;
}
html.theme-dark .main-menu li a {
  border: 0;
}

/*********************
NAVIGATION STYLES
*********************/
.main-nav-container {
  float: right;
  position: static;
  background: none;
  width: auto;
  height: auto;
  padding-top: 8px;
}

.main-menu {
  border: 0;
  padding-top: 0;
  overflow: visible;
  background: none;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.main-menu li {
  float: left;
  position: relative;
  /* showing sub-menus */
}
.main-menu li.menu-item.menu-item-has-children > a:hover {
  border-color: transparent;
}
.main-menu li:last-child ul.sub-menu, .main-menu li:last-child ul.children {
  right: 0;
}
.main-menu li a {
  border-bottom: 1px solid transparent;
  border-color: transparent;
  -webkit-transition: height 375ms, line-height 375ms, background-color 375ms;
  transition: height 375ms, line-height 375ms, background-color 375ms;
  background: none;
  font-size: 17px;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
}
.main-menu li a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.03);
}
.main-menu li li a {
  height: 55px;
  line-height: 55px;
}
.main-menu li ul.sub-menu,
.main-menu li ul.children {
  margin-top: -30px;
  border-top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  height: 0;
  overflow: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
.main-menu li ul.sub-menu li a,
.main-menu li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main-menu li ul.sub-menu li ul,
.main-menu li ul.children li ul {
  top: 0;
  left: 100%;
}
.main-menu li:hover > ul {
  top: auto;
  opacity: 1;
  height: auto;
}
/* end .nav */
.trigger-nav {
  display: none;
}

/******************************************************************
OVERLAY STYLES
******************************************************************/
.vid-player-container .vid-player-wrapper.next-video-triggered {
  color: #fff;
}
.vid-player-container .vid-player-wrapper.next-video-triggered > iframe {
  -webkit-transition: all 1s;
  transition: all 1s;
  max-width: 48%;
  max-height: 48%;
  margin-top: 66px;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next {
  display: block;
  width: 48%;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next p, .vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next h3, .vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions {
  padding: 0 20px;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next p {
  margin: 0;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next h3 {
  margin-bottom: 0.5em;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next a {
  border-bottom: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: "Fira Sans", "sans-serif";
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .next-play-countdown {
  font-weight: bold;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .video-thumb {
  display: block;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .video-thumb img {
  width: 100%;
  display: block;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions {
  text-transform: uppercase;
  margin-top: 15px;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions a {
  font-size: 1.3em;
  line-height: 1em;
  position: relative;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions .cancel {
  float: right;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions .play-now {
  float: left;
  padding-right: 20px;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions .play-now:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  float: right;
  margin: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  border-left: 12px solid #fff;
}
.vid-player-container .vid-player-wrapper.next-video-triggered .vid-playing-next .actions .play-now:after {
  position: absolute;
  right: 0;
}

.ov.gallery-ov-container .gallery-nav {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ov.gallery-ov-container .gallery-nav .slick-arrow {
  width: 50%;
  height: 100%;
  text-indent: -9999px;
}
.ov.gallery-ov-container .gallery-nav .gallery-prev {
  float: left;
  cursor: url(../images/ic-pointer-prev.png), pointer;
}
.ov.gallery-ov-container .gallery-nav .gallery-next {
  float: right;
  cursor: url(../images/ic-pointer-next.png), pointer;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/