/******************************************************************
Site Name:
Author:

Stylesheet: Small Desktop Stylsheet

******************************************************************/

html {
	&.theme-dark {
		.main-nav-container {
			background:transparent;
		}
		.main-menu {
			background:transparent;
			li {
				a {
					border:0;
				}
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/
.main-nav-container {
	float:right;
	position:static;
	background:none;
	width:auto;
	height:auto;
	padding-top:$logo-top-padding;
}
.main-menu {
	border:0;
	padding-top:0;
	overflow:visible;
	background:none;
	li {
		float: left;
		position: relative;
		&.menu-item.menu-item-has-children {
			& > a:hover {
				border-color:transparent;
			}
		}
		&:last-child {
			ul.sub-menu,ul.children {
				right:0;
			}
		}
		a {
			border-bottom:1px solid transparent;
			border-color:transparent;
			@include transition(height $transition-speed, line-height $transition-speed, background-color $transition-speed);
			background:none;
			font-size:17px;
			height:$logo-height;
			line-height:$logo-height;
			padding:0 12px;
			&:hover {
				text-decoration:none;
				background:rgba($black,.03);
			}
		}
		li a {
			height:55px;
			line-height:55px;
		}
		ul.sub-menu,
		ul.children {
			margin-top:-30px;
			border-top:0;
			position: absolute;
			opacity: 0;
			@include transition(opacity .5s);
			height:0;
			overflow:hidden;
			z-index: 8999;
			li {
				a {
					padding-left:10px;
					border-right:0;
					display:block;
					background:rgba($white,.1);
					border-top:1px solid $border-color;
				}
				ul {
					top:0;
					left:100%;
				}
			}
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}
		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			opacity:1;
			height:auto;
		}
	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */
.trigger-nav {
	display:none;
}

/******************************************************************
OVERLAY STYLES
******************************************************************/
.vid-player-container {
	.vid-player-wrapper {
		&.next-video-triggered {
			color:$white;
			& > iframe {
				@include transition(all 1s);
				max-width:48%;
				max-height:48%;
				margin-top:66px;
			}
			.vid-playing-next {
				display:block;
				width:48%;
				p, h3, .actions {
					padding:0 20px;
				}
				p {
					margin:0;
				}
				h3 {
					margin-bottom:.5em;
				}
				a {
					border-bottom:0;
					text-decoration:none;
					cursor:pointer;
					font-family:$headingfont;
				}
				.next-play-countdown {
					//color:$orange;
					font-weight:bold;
				}
				.video-thumb {
					display:block;
					img {
						width:100%;
						display:block;
					}
				}
				.actions {
					text-transform:uppercase;
					margin-top:15px;
					a {
						font-size:1.3em;
						line-height:1em;
						position:relative;
					}
					.cancel {
						float:right;
					}
					.play-now {
						float:left;
						padding-right:20px;
						@include tri(right, 6px, 12px, $white, 0, block, right, vcenter);
						&:after {
							position:absolute;
							right:0;
						}
					}
				}
			}
		}
	}
}
.ov {
	&.gallery-ov-container {
		.gallery-nav {
			display:block;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			.slick-arrow {
				width:50%;
				height:100%;
				text-indent:-9999px;
			}
			.gallery-prev {
				float:left;
				cursor:url(../images/ic-pointer-prev.png), pointer;
			}
			.gallery-next {
				float:right;
				cursor:url(../images/ic-pointer-next.png), pointer;
			}
		}
	}
}